//bg colours

.blue{
    background-color: $bgColourBlue;
}

.black{
    background-color: $bgColourDark;
}

//bg grids 

.grid-background{
    background-image: url('/assets/bg_grid.svg');
    background-size: 135rem;
    background-repeat: repeat;
    background-position: center top;
}

.grid-light{
    background-image: url('/assets/bg_grid_light.svg');
}

//text elements:

.header{
    color: $lineColourLight;
    font-family: $inputSans;
    font-size: $headerTextSize;
    line-height: $headerLineHeight; 
    text-shadow: 0 0 10px $textOuterGlow;
    z-index: 1; 
}

.sub-header{
    font-size: 1.8rem;
}

.body-text{
    font-family: $spaceGrotesk;
    color: $lineColourLight;
    line-height: $bodyLineHeight;
    font-size: $bodyTextSize;
}

//containers:
.grid-container{
    min-height: 80%;
    height: fit-content;
    display: grid;
    // padding: 3rem 0 5rem 0;
    
    img{
        width: 80%;
        margin: 1rem auto;
    }
    
    .videos{
        width: 80%;
        height: auto;
        margin: 1rem auto;
    }
}

.column-flex-container{
    display: flex;
    flex-flow: column;
}

.text-container{
    height: fit-content;
    margin: 0 auto 2.5rem auto;
    padding: $containerSidePadding;
}



