//bg colours

.blue{
    background-color: $bgColourBlue;
}

.black{
    background-color: $bgColourDark;
}

//bg grids 

.grid-background{
    background-image: url('/assets/bg_grid.svg');
    background-size: 135rem;
    background-repeat: repeat;
    background-position: center top;
}

.grid-light{
    background-image: url('/assets/bg_grid_light.svg');
}

//text elements:

#primary-header{
    //limits width of header for homepage
    max-width: 15rem;
}

.header{
    color: $lineColourLight;
    font-family: $inputSans;
    font-size: $headerTextSize;
    line-height: $headerLineHeight; 
    text-shadow: 0 0 10px $textOuterGlow;
    overflow-wrap: break-word;
}

.sub-header{
    font-size: 1.8rem;
}

.body-text{
    font-family: $spaceGrotesk;
    color: $lineColourLight;
    line-height: $bodyLineHeight;
    font-size: $bodyTextSize;
}

//containers:

.grid-container{
    min-height: fit-content;
    display: grid;
    
    img{
        width: 100%;
        margin: 1rem auto;
        height: auto;
        padding: $containerSideMargins;
    }
    
    .videos{
        width: 100%;
        margin: 1rem auto;
        height: auto;
        padding: $containerSideMargins;
    }
}

.column-flex-container{
    display: flex;
    flex-flow: column;
    // min-height: $viewportHeight;
}

.row-flex-container{
    display: flex;
    flex-flow: row;
}

.content-container{  //standard content container
    height: fit-content;
    margin: $containerSideMargins;
    margin-bottom: $conatinerBottomMargin;
    text-align: left;
}

.outer-content-container{
    text-align: center;
    width: 100%;
    height: fit-content;
}

.expanding-text-container{
    max-height: 7.5rem;
    overflow: hidden;
    text-align: left;
    width: auto;
    margin: $containerSideMargins;
    transition: height .5s linear;
}

.expanding-text-container.expanded-dropdown{
    max-height: fit-content;
    margin-bottom: 1rem;
    overflow: auto;
    
    :nth-child(2){
        min-height: auto;
    }
}

.proj-text-container{
    position: relative;
}

.project-image-container{
    padding-top: 1rem;
    padding-bottom: 5rem;
    min-height: fit-content;
    text-align: center;
}

.menu-container{
    cursor: pointer;
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left .2s ease-in-out;
    overflow-x: hidden;
    
    .menu-list{
        text-align: center;
        
        .menu-list-items{
            list-style-type: none;
            line-height: 6rem;  
        }
    }
}

.menu-appear{
    left: 0%;
    transition: left .2s ease-in-out;

}

.header-section{
    margin: $containerSideMargins;
    margin-top: 3.2rem;
    margin-bottom: $conatinerBottomMargin;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    user-select: none;
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 2rem 0;
    
    input{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 12pt;
        background-color: $lineColourLight;
        margin: .5rem 0;
        padding: .3rem;
        height: 2rem;
        border: none;
    };

    #submit-button{
        background-color: $bgColourDark;
        border: 2px solid $lineColourLight;
        color: $lineColourLight;
        height: 2.5rem;
    }

    #submit-button:hover{
        background-color: $lineColourLight;
        color: $bgColourDark;
        border: none;
        height: 2.5rem;
    }
    
    textarea{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 12pt;
        background-color: $lineColourLight;
        margin: .5rem 0;
        padding: .3rem;
        height: 7rem;
        border: none; 
    }
}

.work-page-container{
    height: fit-content;
    padding-bottom: 4rem;
}

.link-container{
    margin-right: 10%;
}

.grid-grow{
    width: 100%;
    height: 100%;
}

//assets:

.arrows{
    filter: $convertSVGColour;
    font-size: 30pt !important;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}

.dropdown-arrow{
    display: block;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 2;
}

.carousel-arrows{
    display: none;
}

#print-markers{
    pointer-events: none;
    width: 100vw;
    height: 60vh;
    top: 19.5vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    column-gap: 50%;
    z-index: 3;

    img{
        height: 3rem;
        filter: $convertSVGColour;
    }

    img:nth-child(1){
        margin-left: -1.45rem;
    }
    
    img:nth-child(2){
        margin-right: -1.45rem;
    }
    
    img:nth-child(3){
        margin-left: -1.45rem;
    }

    img:nth-child(4){
        margin-right: -1.45rem;
    }
}  

#burger-menu{
    margin-left: 1.5rem;
}

.basic-icon{
    color: $lineColourLight;
    font-weight: 700;
    font-size: $headerTextSize !important;
    padding-top: .2rem;
    cursor: pointer;
    z-index: 1;
}

.basic-icon.larger-icon{
    height: 2rem;
    width: auto;
    display: inline-block;
    padding: 0;
}

//misc/decoration:

.gradient-overlay{
    height: 10rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: $mobileLinearGradient;
    z-index: 1;
}

.bar{
    height: $headerFooterHeight;
    width: 100%;
    background-color: $bgColourDark;
    display: flex;
    position: fixed;
    z-index: 5;
    
    div{
        width: 2rem;
        flex-grow: .5;
    }

    div:nth-child(2){
        border: solid $lineColourLight;
        border-width: 0 $borderStrokeWidth;
        flex-grow: 7;
    }

    ul{
        display: none;
    }
}

.top-bar{
    top: 0;
    border-bottom: $borderStrokeWidth solid $lineColourLight;
}

.bottom-bar{
    bottom: 0;
    border-top: $borderStrokeWidth solid $lineColourLight;

    nav{
        display: none;
    }
}


@media (min-width: 720px){

    .gallery{
        align-self: center;
        align-items: center;
        grid-template-columns: repeat(2, 40vw);
        gap: 2rem;

        margin: 0 auto 8rem auto;
        padding: 0 1rem;

        img{
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

@media (min-width: 1080px){

    // text elements:
    #primary-header{
        max-width: fit-content;
        overflow-wrap: normal;
        font-size: calc($headerTextSize * 2.3);
        line-height: $headerLineHeight; 
        margin: 0 auto;
    }

    // containers
    .header-section{
        margin: 0 auto $conatinerBottomMargin auto;
    }

    .large-header-section{
        margin-top: 11rem;
    }

    .outer-content-container{
        text-align: center;
        width: 100%;
        max-height: 37vh;
        padding-right: 2rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .about-text-container{
        min-height: fit-content;
        width: 35vw;
        left: 25% !important;
        padding: 2rem;
        border: 2px solid $lineColourLight;
        align-items: center;
    }

    .contact-form-container{
        min-height: fit-content;
        width: 52vw;
        left: 36% !important;
        padding: 2rem;
        border: 2px solid $lineColourLight;
        align-items: center;
    }

    #contact-form{

        margin: 1rem 0 0 0;

        input{
            margin: 1rem 0;
            padding: .3rem;
        };

        #submit-button{
            width: 12rem;
            margin-right: 0;
            margin-left: auto;
            margin-bottom: 0;
        }

        textarea{
            margin: 1rem 0;
        }
    }

    .expanding-text-container{
        position: relative;
        margin: 0;
        max-height: fit-content;
        color: #ffffff00;

        :nth-child(2){
            padding-bottom: 2rem;
        }
    }

    .gallery{
        grid-template-columns: repeat(2, 37vw);
        gap: 3rem;
        margin: auto;
    }

    .project-image-container{
        // height: $viewportHeight;
        overflow-y: hidden;
        display: flex;
        padding: 0;
        scroll-snap-type: x mandatory;

        :first-child{
            padding-left: 60px;
            scroll-snap-align: start;
        }

        :last-child{
            padding-right: 10vw;
            scroll-snap-align: end;
        }

        img{
            height: 80vh;
            width: auto;
            margin-top: auto;
            margin-bottom: auto;
            scroll-snap-align: center;
        }

        .videos{
            height: 80vh;
            width: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .proj-text-container{
        position: relative;
        // top: 25;
        padding-top: 25vh;
        // padding-bottom: 25vh;
        padding-left: 8vw;
        padding-right: 2vw;
        // border-right: $borderStrokeWidth solid $lineColourLight;
    }

    #page-section-two{

        .carousel-arrows{
            position: absolute;
            bottom: 5.5%;
            font-size: 36pt !important;
        }

        span:nth-child(2){
            left: 53%;
        }

        span:nth-child(3){
            right: 25%;
        }
    }

    .dropdown-arrow{
        display: none !important;
    }

    .work-header-container{
        height: 18rem;
        margin-bottom: 5rem;
    }

    .work-page-container{
        padding-bottom: 7rem;
    }

    //assets
    #burger-menu{
        display: none;
    }

    #print-markers{
        width: 92vw;
        height: 70vh;
        text-align: center;
        margin: auto;
        top: calc(12rem - $headerFooterHeight);
        left: 4vw;

        img{
            height: 5rem;
        }

        //small-size
        // width: 90vw;
        // height: 3.1rem;
    }

    //nav
    .bar{

        height: $headerFooterHeightDesktop;
        
        nav{
            display: block;
            width: 90vw;
            height: 100%;
            margin: auto;
            position: relative;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        ul{
            display: flex;
            align-items: flex-start;

            li{
                flex: 1;
                list-style-type: none;
                height: $headerFooterHeightDesktop;
                padding: 0 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                font-family: $inputSans;
                font-size: calc($bodyTextSize * 1.2);
                border-left: solid $lineColourLight;
                border-width: 0 $borderStrokeWidth;
                
                background: $bgColourDark;
                background: $menuItemsGradient;              
                background-position: 100%;
                background-repeat: no-repeat;
                background-size: 350%;
                transition: background-position .5s ease-out;

                cursor: pointer;
            }

            li:nth-child(4){
                border-right: solid $lineColourLight;
            }

            li:hover{
            background-position: 0%;
            }

            a{
                display: inline-block;
                padding: 0;
                margin: 0 0 0 .5rem;
            }
        }
    }

    .top-bar{
        div:nth-child(2){
            width: 90vw;
            flex-grow: 0;
        }
    }

    .bottom-bar{
        bottom: 0;
        border-top: $borderStrokeWidth solid $lineColourLight;

        div{
            display: none;
        }
    }

    //decoration etc

    .gradient-overlay{
        bottom: auto;
        top: 59vh;
        height: 10rem;
        width: 70%;
        position: absolute;
        background-image: $mobileLinearGradient;
        pointer-events: none;
    }
}

// @media (min-width: 1600px){
//     .header{
//         font-size: calc($headerTextSize * 2.8);
//     }
// }

@media (min-width: 2500px){
    // .header{
    //     font-size: calc($headerTextSize * 2.4);
    // }

    .grid-container.gallery{
        // margin-top: 17.5rem;
        grid-template-columns: repeat(3, 25vw);
        gap: 5rem;
    }
}