.rotate-180{
    transform: rotate(180deg);
}

.vertical-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.noScroll{
    height: 100vh !important;
    width: 100vw;
    overflow: hidden !important;
}

.solid-blue{
    background: $bgColourBlue !important;
}

//grid utils

.content-split{
    grid-template-rows: minmax(40vh, auto) 1fr;
}

.two-cols-25-75{
    grid-template-columns: 27.4vw auto;  //.1 added to the right column to account for border thickness
}

.two-cols-50-50{
    grid-template-columns: 49.9vw auto;  //.1 added to the right column to account for border thickness 
}

.two-cols-75-25{
    grid-template-columns: 72.39vw auto;  //.1 added to the right column to account for border thickness 
}

.left-border{
    border-left: $borderStrokeWidth solid $lineColourLight;
}