.rotate-180{
    transform: rotate(180deg);
}

.vertical-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.noScroll{
    height: 100vh !important;
    width: 100vw;
    overflow: hidden !important;
}

.solid-blue{
    background: $bgColourBlue !important;
}

.vh-height{
    min-height: $viewportHeight;
}

.b-right{
    border-right: $borderStrokeWidth solid $lineColourLight;
}

//flexbox utils:

.grow{
    flex-grow: 2;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.top-padding{
    margin-top: 3.2rem;
}

//grid utils

//NEEDS FIX, DOESN'T FIT PROPERLY ACROSS ALL HEIGHT/WIDTH COMBOS
.two-cols-25-75{
    grid-template-columns: 27.6vw auto;  //.1 added to the left column to account for border thickness
}