//colours:
$bgColourDark: #171717;
$bgColourBlue: rgb(0, 146, 189);
$lineColourLight: #cccccc;
$textOuterGlow: #cccccc5b;
$convertSVGColour: invert(96%) sepia(0%) saturate(0%) hue-rotate(243deg) brightness(86%) contrast(95%);  

//spacing:
$containerSideMargins: 0 2.1rem 0 2.1rem;
$containerPadding: 0.5rem;
$headerFooterHeight: 2.4rem;
$viewportHeight: calc(100vh - (($headerFooterHeight + 40px) * 2));


//text styles:

$inputSans: 'input-sans', Helvetica, sans-serif;
$spaceGrotesk: 'Space Grotesk', Helvetica, sans-serif;

$headerTextSize: 2.3rem;
$headerLineHeight: 3rem;

$bodyTextSize: 1rem;
$bodyLineHeight: $headerLineHeight 1.5rem;

//other styling:
$mobileLinearGradient: linear-gradient(180deg, $lineColourLight 10%, rgba(204,204,204,0) 18%);
$borderStrokeWidth: 3px;