html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  cursor: auto;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  position: relative;
}

#page-contents {
  min-height: 100vh;
  height: fit-content;
}

@media (min-width: 1080px) {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    cursor: none;
  }
}
.cursor {
  z-index: 10;
  pointer-events: none;
  display: none;
  width: 30px;
  height: 30px;
  position: fixed;
  border-radius: 50%;
  backdrop-filter: invert(100%) grayscale(100%);
  filter: brightness(150%) contrast(150%);
  overflow: hidden;
}

#preload-container {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171717;
  background-image: url("/src/assets/bg_grid.svg");
  background-size: 135rem;
  background-repeat: repeat;
  background-position: center top;
}

#preload-info {
  width: 80%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#loader-icon {
  transform-style: preserve-3d;
  animation: spin 6s infinite linear;
  height: 5rem;
  width: 5rem;
  margin-bottom: 2rem;
  position: relative;
  align-self: center;
}
#loader-icon div {
  height: 5rem;
  width: 5rem;
  position: absolute;
  display: block;
  border: 3px solid #cccccc;
  box-shadow: 0 0 15px 0px #cccccc;
}
#loader-icon .top {
  transform: rotateX(90deg);
  margin-top: -40px;
}
#loader-icon .right {
  transform: rotateY(90deg);
  margin-left: 40px;
}
#loader-icon .bottom {
  transform: rotateX(-90deg);
  margin-top: 40px;
}
#loader-icon .left {
  transform: rotateY(-90deg);
  margin-left: -40px;
}
#loader-icon .front {
  transform: translateZ(40px);
}
#loader-icon .back {
  transform: translateZ(-40px) rotateX(180deg);
}
@keyframes spin {
  0% {
    -webkit-transform: rotateX(-50deg) rotateY(20deg);
  }
  100% {
    -webkit-transform: rotateX(-50deg) rotateY(740deg);
  }
}

#loading-text {
  font-size: 1.5rem;
  font-family: "input-sans", Helvetica, sans-serif;
  text-align: center;
  position: relative;
}

#loading-info {
  width: 100%;
  text-align: center;
  position: relative;
}

.blue {
  background-color: #0092bd;
}

.grey {
  background-color: #cccccc;
}

.black {
  background-color: #171717;
}

.gradient {
  background-color: linear-gradient(0deg, #0092bd 0%, #171717 44%, #171717 68%, #171717 100%);
}

.grid-background {
  background-image: url("/src/assets/bg_grid.svg");
  background-size: 135rem;
  background-repeat: repeat;
  background-position: center top;
}

.grid-light {
  background-image: url("/src/assets/bg_grid_light.svg");
}

#primary-header {
  max-width: 15rem;
  user-select: none;
}

.header {
  color: #cccccc;
  font-family: "input-sans", Helvetica, sans-serif;
  font-size: 2.3rem;
  text-shadow: 0 0 10px rgba(204, 204, 204, 0.3568627451);
  overflow-wrap: break-word;
}

.small-header {
  max-width: 100% !important;
  font-size: 1.8rem !important;
}

.sub-header {
  font-size: 1.8rem;
}

.body-text {
  font-family: "Space Grotesk", Helvetica, sans-serif;
  color: #cccccc;
  line-height: 3rem 1.5rem;
  font-size: 0.85rem;
}

.project-text {
  margin-bottom: 1rem;
}

.header-section {
  margin: 0 2.1rem 0 2.1rem;
  margin-top: 3.2rem;
  margin-bottom: 1.8rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  user-select: none;
}

.grid-container {
  min-height: fit-content;
  display: grid;
}
.grid-container img {
  width: 100%;
  margin: 1rem auto;
  height: auto;
  padding: 0 2.1rem 0 2.1rem;
}
.grid-container video {
  width: 100%;
  margin: 1rem auto;
  height: auto;
  padding: 0 2.1rem 0 2.1rem;
}

.content-container {
  height: fit-content;
  margin: 0 2.1rem 0 2.1rem;
  margin-bottom: 1.8rem;
  text-align: left;
}

.link-section-container {
  margin-bottom: 4rem;
}

.outer-content-container {
  text-align: center;
  width: 100%;
  height: fit-content;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 2rem 0;
  cursor: none !important;
}
#contact-form input {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12pt;
  background-color: #cccccc;
  margin: 0.5rem 0;
  padding: 0.3rem;
  height: 2rem;
  border: none;
  cursor: none !important;
}
#contact-form #submit-button {
  background-color: #171717;
  border: 2px solid #cccccc;
  color: #cccccc;
  height: 2.5rem;
  cursor: none !important;
}
#contact-form #submit-button:hover {
  background-color: #cccccc;
  color: #171717;
  border: none;
  height: 2.5rem;
  cursor: none !important;
}
#contact-form textarea {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12pt;
  background-color: #cccccc;
  margin: 0.5rem 0;
  padding: 0.3rem;
  height: 7rem;
  border: none;
  cursor: none !important;
}

.expanding-text-container {
  max-height: 7.5rem;
  overflow: hidden;
  text-align: left;
  width: auto;
  margin: 0 2.1rem 0 2.1rem;
  transition: height 0.5s linear;
}

.expanding-text-container.expanded-dropdown {
  max-height: fit-content;
  margin-bottom: 1rem;
  overflow: auto;
}
.expanding-text-container.expanded-dropdown :nth-child(2) {
  min-height: auto;
}

.proj-text-container {
  position: relative;
}

.project-image-container {
  padding-top: 1rem;
  padding-bottom: 5rem;
  min-height: fit-content;
  text-align: center;
}

.menu-container {
  height: 100vh;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 0.2s ease-in-out;
  overflow-x: hidden;
}
.menu-container .menu-list {
  text-align: center;
}
.menu-container .menu-list .menu-list-items {
  list-style-type: none;
  line-height: 6rem;
}

.menu-appear {
  left: 0%;
  transition: left 0.2s ease-in-out;
}

.work-page-container {
  height: fit-content;
  padding-bottom: 4rem;
}

.link-container {
  margin-right: 10%;
}

.grid-grow {
  width: 100%;
  height: 100%;
}

.main-canvas {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.about-canvas {
  position: fixed;
  mix-blend-mode: hard-light;
  filter: invert(0) brightness(90%) contrast(1.2);
}

.contact-canvas {
  position: fixed;
}

.arrows {
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(243deg) brightness(86%) contrast(95%);
  font-size: 30pt !important;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

.dropdown-arrow {
  display: block;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 2;
}

.carousel-arrows {
  display: none;
  cursor: none;
}

#print-markers {
  pointer-events: none;
  width: 100vw;
  height: 60vh;
  top: 19.5vh;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  column-gap: 50%;
  z-index: 11;
  opacity: 100%;
}
#print-markers img {
  height: 3rem;
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(243deg) brightness(86%) contrast(95%);
}
#print-markers img:nth-child(1) {
  margin-left: -1.45rem;
}
#print-markers img:nth-child(2) {
  margin-right: -1.45rem;
}
#print-markers img:nth-child(3) {
  margin-left: -1.45rem;
}
#print-markers img:nth-child(4) {
  margin-right: -1.45rem;
}

#burger-menu {
  margin-left: 1.5rem;
}

.basic-icon {
  color: #cccccc;
  font-weight: 700;
  font-size: 2.3rem !important;
  cursor: pointer;
  z-index: 1;
}

.basic-icon.larger-icon {
  height: 2rem;
  width: auto;
  display: inline-block;
  padding: 0;
}

.gradient-overlay {
  height: 10rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(204, 204, 204, 0) 40%, #171717 80%);
  z-index: 1;
}

.bar {
  height: 2.4rem;
  width: 100%;
  background-color: #171717;
  display: flex;
  position: fixed;
  z-index: 5;
}
.bar div {
  width: 2rem;
  flex-grow: 0.5;
}
.bar div:nth-child(2) {
  border: solid #cccccc;
  border-width: 0 3px;
  flex-grow: 7;
}
.bar ul {
  display: none;
}

.top-bar {
  top: 0;
  border-bottom: 3px solid #cccccc;
}

.bottom-bar {
  bottom: 0;
  border-top: 3px solid #cccccc;
}
.bottom-bar nav {
  display: none;
}

.backdrop {
  background-color: #0092bd;
  box-shadow: 0 0 3px 5px #0092bd;
  position: absolute;
  z-index: -1;
  mix-blend-mode: screen;
}

@media (min-width: 720px) {
  .gallery {
    align-self: center;
    align-items: start;
    gap: 2rem;
    margin: 0 auto 8rem auto;
    padding: 0 2rem;
  }
  .gallery img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 780px) {
  .gallery {
    gap: 3rem;
    margin: auto;
    margin: 0 auto 8rem auto;
    padding: 0 5rem;
  }
  .header-section {
    margin: 3.2rem 5rem 2rem 5rem;
  }
  .about-text-container {
    padding: 0 3rem;
  }
  .content-container {
    padding: 0 3rem;
  }
  .expanding-text-container {
    padding: 0 3rem;
  }
  .project-image-container {
    padding: 1.5rem 3rem;
  }
}
@media (min-width: 1080px) {
  .cursor {
    display: block;
  }
  #primary-header {
    max-width: fit-content;
    overflow-wrap: normal;
    font-size: 4.6rem;
    margin: 0 auto;
  }
  .small-header {
    margin: 0 !important;
  }
  .large-header-alignment {
    line-height: 8.4rem;
  }
  .header-section {
    margin: 0 auto 1.8rem auto;
  }
  .large-header-section {
    margin-top: 8.3rem;
  }
  .outer-content-container {
    text-align: center;
    width: 100%;
    max-height: 37vh;
    padding-right: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .about-text-container {
    margin: auto;
    min-height: fit-content;
    min-width: 25rem;
    max-width: 40rem;
    padding: 2rem;
    border: 2px solid #cccccc;
    align-items: center;
  }
  .contact-form-container {
    min-width: 25rem;
    max-width: 40rem;
    margin: auto;
    padding: 2rem;
    border: 2px solid #cccccc;
    align-items: center;
  }
  .link-section-container {
    margin-bottom: 0;
  }
  #contact-form {
    margin: 1rem 0 0 0;
  }
  #contact-form input {
    margin: 1rem 0;
    padding: 0.3rem;
  }
  #contact-form #submit-button {
    width: 12rem;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
  }
  #contact-form textarea {
    margin: 1rem 0;
  }
  .expanding-text-container {
    position: relative;
    margin: 0;
    max-height: fit-content;
    color: rgba(255, 255, 255, 0);
    padding: 0;
  }
  .expanding-text-container :nth-child(2) {
    padding-bottom: 2rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 37vw);
    gap: 3rem;
    margin: auto;
  }
  .project-image-container {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .project-image-container :first-child {
    margin-top: 6rem;
  }
  .project-image-container :last-child {
    margin-bottom: 6rem;
  }
  .project-image-container img {
    height: auto;
    width: 55vw;
    margin-top: 2rem;
    margin-bottom: auto;
  }
  .project-image-container video {
    height: auto;
    width: 55vw;
    margin-top: 2rem;
    margin-bottom: auto;
  }
  .proj-text-container {
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: 25vh;
    padding-left: 7vw;
    padding-right: 1vw;
  }
  #page-section-two .carousel-arrows {
    display: none;
    position: absolute;
    bottom: 5.5%;
    font-size: 36pt !important;
  }
  #page-section-two span:nth-child(2) {
    left: 53%;
  }
  #page-section-two span:nth-child(3) {
    right: 25%;
  }
  .dropdown-arrow {
    display: none !important;
  }
  .work-header-container {
    height: 18rem;
    margin-bottom: 5rem;
  }
  .work-page-container {
    padding-bottom: 7rem;
  }
  #burger-menu {
    display: none;
  }
  #print-markers {
    width: 92vw;
    height: 70vh;
    text-align: center;
    margin: auto;
    top: 9.6rem;
    left: 4vw;
  }
  #print-markers img {
    height: 5rem;
  }
  .bar {
    height: 3.4rem;
  }
  .bar nav {
    display: block;
    width: 90vw;
    height: 100%;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .bar ul {
    display: flex;
    align-items: flex-start;
  }
  .bar ul li {
    flex: 1;
    list-style-type: none;
    height: 3.4rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-family: "input-sans", Helvetica, sans-serif;
    font-size: 1.2rem;
    border-left: solid #cccccc;
    border-width: 0 3px;
    background: #171717;
    background: linear-gradient(90deg, rgb(0, 146, 189) 0%, rgb(0, 146, 189) 42%, rgb(23, 23, 23) 70%, rgb(23, 23, 23) 100%);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 350%;
    transition: background-position 0.5s ease-out;
  }
  .bar ul li:nth-child(4) {
    border-right: solid #cccccc;
  }
  .bar ul li:hover {
    background-position: 0%;
  }
  .bar ul a {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 0.5rem;
  }
  .top-bar div:nth-child(2) {
    width: 90vw;
    flex-grow: 0;
  }
  .bottom-bar {
    bottom: 0;
    border-top: 3px solid #cccccc;
  }
  .bottom-bar div {
    display: none;
  }
  .gradient-overlay {
    bottom: auto;
    top: 59vh;
    height: 10rem;
    width: 70%;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(204, 204, 204, 0) 40%, #171717 80%);
    pointer-events: none;
  }
}
@media (min-width: 1425px) {
  #primary-header {
    font-size: 6.9rem;
  }
  .small-header {
    font-size: 2.3rem !important;
    margin: 0 !important;
  }
  .body-text {
    font-size: 1rem;
  }
  .large-header-alignment {
    line-height: 8.4rem;
  }
  .proj-text-container {
    position: relative;
    padding-top: 25vh;
    padding-left: 7vw;
    padding-right: 2vw;
  }
  .contact-form-container {
    max-width: 50rem;
  }
  .project-image-container {
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    padding: 0;
    scroll-snap-type: x mandatory;
  }
  .project-image-container :first-child {
    padding-left: 60px;
    scroll-snap-align: start;
    margin: auto;
  }
  .project-image-container :last-child {
    padding-right: 10vw;
    scroll-snap-align: end;
    margin: auto;
  }
  .project-image-container img {
    height: 80vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    scroll-snap-align: center;
  }
  .project-image-container .videos {
    height: 80vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  #page-section-two .carousel-arrows {
    display: block;
    position: absolute;
    bottom: 5.5%;
    font-size: 36pt !important;
  }
}
@media (min-width: 2500px) {
  .grid-container.gallery {
    grid-template-columns: repeat(3, 25vw);
    gap: 5rem;
  }
}
.rotate-180 {
  transform: rotate(180deg);
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.noScroll {
  height: 100vh !important;
  width: 100vw;
  overflow: hidden !important;
}

.solid-blue {
  background: #0092bd !important;
}

.center-children {
  align-self: center;
  padding: 4rem 4rem 4rem 7rem;
}

.content-split {
  grid-template-rows: minmax(40vh, auto) 1fr;
}

.two-cols-25-75 {
  grid-template-columns: 27.4vw auto;
}

.two-cols-50-50 {
  grid-template-columns: 49.9vw auto;
}

.two-cols-75-25 {
  grid-template-columns: 72.39vw auto;
}

.left-border {
  border-left: 3px solid #cccccc;
}/*# sourceMappingURL=index.css.map */