//cursor
.cursor{
    z-index: 10;
    pointer-events: none;

    display: none;

    width: 30px;
    height: 30px;
    position: fixed;
    border-radius: 50%;

    backdrop-filter: invert(100%) grayscale(100%);
    filter: brightness(150%) contrast(150%);

    overflow: hidden;
}

//pre-loader

#preload-container{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bgColourDark;
    background-image: url('/src/assets/bg_grid.svg');
    background-size: 135rem;
    background-repeat: repeat;
    background-position: center top;
}

#preload-info{
    width: 80%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#loader-icon{
    transform-style: preserve-3d;
    animation: spin 6s infinite linear;
    height: 5rem;
    width: 5rem;
    margin-bottom: 2rem;
    position: relative;
    align-self: center;
    
    div{
        height: 5rem;
        width: 5rem;
        position: absolute;
        display: block;
        border: $borderStrokeWidth solid $lineColourLight;
        box-shadow: 0 0 15px 0px $lineColourLight;
    }

    .top{
        transform: rotateX(90deg); 
        margin-top: -40px; 
    }

    .right {
        transform: rotateY(90deg); 
        margin-left: 40px;
    }
     
    .bottom {
        transform: rotateX(-90deg); 
        margin-top: 40px;
    }
     
    .left {
        transform: rotateY(-90deg); 
        margin-left: -40px;
    }
     
    .front {
        transform: translateZ(40px);
    }
     
    .back {
        transform: translateZ(-40px) rotateX(180deg);
    }

    @keyframes spin {
        0% {-webkit-transform: rotateX(-50deg) rotateY(20deg);}
        100% {-webkit-transform: rotateX(-50deg) rotateY(740deg);}
    }
}

#loading-text{
    font-size: $bodyTextSize * 1.5;
    font-family: $inputSans;
    text-align: center;
    position: relative;
}

#loading-info{
    width: 100%;
    text-align: center;
    position: relative;
}

//bg colours

.blue{
    background-color: $bgColourBlue;
}

.grey{
    background-color: $lineColourLight;
}

.black{
    background-color: $bgColourDark;
}

.gradient{
    background-color: linear-gradient(0deg, #0092bd 0%, #171717 44%, #171717 68%, #171717 100%); 
}

//bg grids 

.grid-background{
    background-image: url('/src/assets/bg_grid.svg');
    background-size: 135rem;
    background-repeat: repeat;
    background-position: center top;
}

.grid-light{
    background-image: url('/src/assets/bg_grid_light.svg');
}

//text elements:

#primary-header{
    //limits width of header for homepage
    max-width: 15rem;
    user-select: none;
}

.header{
    color: $lineColourLight;
    font-family: $inputSans;
    font-size: $headerTextSize;
    // line-height: $headerLineHeight; 
    text-shadow: 0 0 10px $textOuterGlow;
    overflow-wrap: break-word;
}

.small-header{
    max-width: 100% !important;
    font-size: 1.8rem !important;
}

.sub-header{
    font-size: 1.8rem;
}

.body-text{
    font-family: $spaceGrotesk;
    color: $lineColourLight;
    line-height: $bodyLineHeight;
    font-size: $bodyTextSize * 0.85;
}

.project-text{
    margin-bottom: 1rem;
}

//containers:

.header-section{
    margin: $containerSideMargins;
    margin-top: 3.2rem;
    margin-bottom: $conatinerBottomMargin;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    user-select: none;
    align-items: center;
}

.grid-container{
    min-height: fit-content;
    display: grid;
    
    img{
        width: 100%;
        margin: 1rem auto;
        height: auto;
        padding: $containerSideMargins;
    }
    
    video{
        width: 100%;
        margin: 1rem auto;
        height: auto;
        padding: $containerSideMargins;
    }
}

.content-container{  //standard content container
    height: fit-content;
    margin: $containerSideMargins;
    margin-bottom: $conatinerBottomMargin;
    text-align: left;
}

.link-section-container{
    margin-bottom: 4rem;
}

.outer-content-container{
    text-align: center;
    width: 100%;
    height: fit-content;
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 2rem 0;
    cursor: none !important;
    
    input{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 12pt;
        background-color: $lineColourLight;
        margin: .5rem 0;
        padding: .3rem;
        height: 2rem;
        border: none;
        cursor: none !important;
    };
    
    #submit-button{
        background-color: $bgColourDark;
        border: 2px solid $lineColourLight;
        color: $lineColourLight;
        height: 2.5rem;
        cursor: none !important;
    }
    
    #submit-button:hover{
        background-color: $lineColourLight;
        color: $bgColourDark;
        border: none;
        height: 2.5rem;
        cursor: none !important;
    }
    
    textarea{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 12pt;
        background-color: $lineColourLight;
        margin: .5rem 0;
        padding: .3rem;
        height: 7rem;
        border: none; 
        cursor: none !important;
    }
}

.expanding-text-container{
    max-height: 7.5rem;
    overflow: hidden;
    text-align: left;
    width: auto;
    margin: $containerSideMargins;
    transition: height .5s linear;
}

.expanding-text-container.expanded-dropdown{
    max-height: fit-content;
    margin-bottom: 1rem;
    overflow: auto;
    
    :nth-child(2){
        min-height: auto;
    }
}

.proj-text-container{
    position: relative;
}

.project-image-container{
    padding-top: 1rem;
    padding-bottom: 5rem;
    min-height: fit-content;
    text-align: center;
}

.menu-container{
    // cursor: pointer;
    height: 100vh;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left .2s ease-in-out;
    overflow-x: hidden;
    
    .menu-list{
        text-align: center;
        
        .menu-list-items{
            list-style-type: none;
            line-height: 6rem;  
        }
    }
}

.menu-appear{
    left: 0%;
    transition: left .2s ease-in-out;

}

.work-page-container{
    height: fit-content;
    padding-bottom: 4rem;
}

.link-container{
    margin-right: 10%;
}

.grid-grow{
    width: 100%;
    height: 100%;
}

//canvas styles

canvas{
    position: fixed;
    top: 0;
}

.main-canvas{
    height: 100%;
    width: 100%;
}

//assets:

.arrows{
    filter: $convertSVGColour;
    font-size: 30pt !important;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}

.dropdown-arrow{
    display: block;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 2;
}

.carousel-arrows{
    display: none;
    cursor: none;
}

#print-markers{
    pointer-events: none;
    width: 100vw;
    height: 60vh;
    top: 19.5vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    column-gap: 50%;
    z-index: 11;
    opacity: 100%;

    img{
        height: 3rem;
        filter: $convertSVGColour;
    }

    img:nth-child(1){
        margin-left: -1.45rem;
    }
    
    img:nth-child(2){
        margin-right: -1.45rem;
    }
    
    img:nth-child(3){
        margin-left: -1.45rem;
    }

    img:nth-child(4){
        margin-right: -1.45rem;
    }
}  

#burger-menu{
    margin-left: 1.5rem;
}

.basic-icon{
    color: $lineColourLight;
    font-weight: 700;
    font-size: $headerTextSize !important;
    // padding-top: .2rem;
    cursor: pointer;
    z-index: 1;
}

.basic-icon.larger-icon{
    height: 2rem;
    width: auto;
    display: inline-block;
    padding: 0;
}

//misc/decoration:

.gradient-overlay{
    height: 10rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: $mobileLinearGradient;
    z-index: 1;
}

.bar{
    height: $headerFooterHeight;
    width: 100%;
    background-color: $bgColourDark;
    display: flex;
    position: fixed;
    z-index: 5;
    
    div{
        width: 2rem;
        flex-grow: .5;
    }

    div:nth-child(2){
        border: solid $lineColourLight;
        border-width: 0 $borderStrokeWidth;
        flex-grow: 7;
    }

    ul{
        display: none;
    }
}

.top-bar{
    top: 0;
    border-bottom: $borderStrokeWidth solid $lineColourLight;
}

.bottom-bar{
    bottom: 0;
    border-top: $borderStrokeWidth solid $lineColourLight;

    nav{
        display: none;
    }
}

.backdrop{
    background-color: $bgColourBlue;
    box-shadow: 0 0 3px 5px $bgColourBlue;
    position: absolute;
    z-index: -1;
    mix-blend-mode: screen;
}


@media (min-width: 720px){

    .gallery{
        align-self: center;
        align-items: start;
        gap: 2rem;

        margin: 0 auto 8rem auto;
        padding: 0 2rem;

        img{
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

@media (min-width: 780px){
    .gallery{
        gap: 3rem;
        margin: auto;

        margin: 0 auto 8rem auto;
        padding: 0 5rem;
    }

    .header-section{
        margin: 3.2rem 5rem 2rem 5rem;
    }

    .about-text-container{
        padding: 0 3rem;
    }

    .content-container{
        padding: 0 3rem;
    }

    .expanding-text-container{
        padding: 0 3rem;
    }

    .project-image-container{
        padding: 1.5rem 3rem;
    }
}

@media (min-width: 1080px){

    .cursor{
        display: block;
    }

    // text elements:
    #primary-header{
        max-width: fit-content;
        overflow-wrap: normal;
        font-size: calc($headerTextSize * 2);
        margin: 0 auto;
    }

    .small-header{
        margin: 0 !important;
    }

    .large-header-alignment{
        line-height: calc($headerLineHeight * 2.8); 
    }

    // containers
    .header-section{
        margin: 0 auto $conatinerBottomMargin auto;
    }

    .large-header-section{
        margin-top: 8.3rem;
    }

    .outer-content-container{
        text-align: center;
        width: 100%;
        max-height: 37vh;
        padding-right: 2rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .about-text-container{
        margin: auto;
        min-height: fit-content;
        min-width: 25rem;
        max-width: 40rem;
        padding: 2rem;
        border: 2px solid $lineColourLight;
        align-items: center;
    }

    .contact-form-container{
        min-width: 25rem;
        max-width: 40rem;
        margin: auto;
        padding: 2rem;
        border: 2px solid $lineColourLight;
        align-items: center;
    }

    .link-section-container{
        margin-bottom: 0;
    }

    #contact-form{

        margin: 1rem 0 0 0;

        input{
            margin: 1rem 0;
            padding: .3rem;
        };

        #submit-button{
            width: 12rem;
            margin-right: 0;
            margin-left: auto;
            margin-bottom: 0;
        }

        textarea{
            margin: 1rem 0;
        }
    }

    .expanding-text-container{
        position: relative;
        margin: 0;
        max-height: fit-content;
        color: #ffffff00;
        padding: 0;

        :nth-child(2){
            padding-bottom: 2rem;
        }
    }

    .gallery{
        grid-template-columns: repeat(2, 37vw);
        gap: 3rem;
        margin: auto;


    }

    .project-image-container{
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        padding: 0;

        :first-child{
            margin-top: 6rem;
        }

        :last-child{
            margin-bottom: 6rem;
        }

        img{
            height: auto;
            width: 55vw;
            margin-top: 2rem;
            margin-bottom: auto;
        }

        video{
            height: auto;
            width: 55vw;
            margin-top: 2rem;
            margin-bottom: auto;
        }
    }

    .proj-text-container{
        position: sticky;
        top: 0;
        height: 100vh;

        padding-top: 25vh;
        padding-left: 7vw;
        padding-right: 1vw;
    }
    
    #page-section-two{

        .carousel-arrows{
            display: none;
            position: absolute;
            bottom: 5.5%;
            font-size: 36pt !important;
        }

        span:nth-child(2){
            left: 53%;
        }

        span:nth-child(3){
            right: 25%;
        }
    }

    .dropdown-arrow{
        display: none !important;
    }

    .work-header-container{
        height: 18rem;
        margin-bottom: 5rem;
    }

    .work-page-container{
        padding-bottom: 7rem;
    }

    //assets
    #burger-menu{
        display: none;
    }

    #print-markers{
        width: 92vw;
        height: 70vh;
        text-align: center;
        margin: auto;
        top: calc(12rem - $headerFooterHeight);
        left: 4vw;

        img{
            height: 5rem;
        }
    }

    //nav
    .bar{

        height: $headerFooterHeightDesktop;
        
        nav{
            display: block;
            width: 90vw;
            height: 100%;
            margin: auto;
            position: relative;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        ul{
            display: flex;
            align-items: flex-start;

            li{
                flex: 1;
                list-style-type: none;
                height: $headerFooterHeightDesktop;
                padding: 0 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                font-family: $inputSans;
                font-size: calc($bodyTextSize * 1.2);
                border-left: solid $lineColourLight;
                border-width: 0 $borderStrokeWidth;
                
                background: $bgColourDark;
                background: $menuItemsGradient;              
                background-position: 100%;
                background-repeat: no-repeat;
                background-size: 350%;
                transition: background-position .5s ease-out;
            }

            li:nth-child(4){
                border-right: solid $lineColourLight;
            }

            li:hover{
            background-position: 0%;
            }

            a{
                display: inline-block;
                padding: 0;
                margin: 0 0 0 .5rem;
            }
        }
    }

    .top-bar{
        div:nth-child(2){
            width: 90vw;
            flex-grow: 0;
        }
    }

    .bottom-bar{
        bottom: 0;
        border-top: $borderStrokeWidth solid $lineColourLight;

        div{
            display: none;
        }
    }

    //decoration etc

    .gradient-overlay{
        bottom: auto;
        top: 59vh;
        height: 10rem;
        width: 70%;
        position: absolute;
        background-image: $mobileLinearGradient;
        pointer-events: none;
    }
}

@media (min-width: 1425px){
    #primary-header{
        font-size: calc($headerTextSize * 3);
    }

    .small-header{
        font-size: 2.3rem !important;
        margin: 0 !important;
    }

    .body-text{
        font-size: $bodyTextSize;
    }

    .large-header-alignment{
        line-height: calc($headerLineHeight * 2.8); 
    }

    .proj-text-container{
        position: relative;
        padding-top: 25vh;
        padding-left: 7vw;
        padding-right: 2vw;
    }

    .contact-form-container{
        max-width: 50rem;
    }

    .project-image-container{
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        padding: 0;
        scroll-snap-type: x mandatory;

        :first-child{
            padding-left: 60px;
            scroll-snap-align: start;
            margin: auto;
        }
        
        :last-child{
            padding-right: 10vw;
            scroll-snap-align: end;
            margin: auto;
        }

        img{
            height: 80vh;
            width: auto;
            margin-top: auto;
            margin-bottom: auto;
            scroll-snap-align: center;
        }

        .videos{
            height: 80vh;
            width: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    #page-section-two{

        .carousel-arrows{
            display: block;
            position: absolute;
            bottom: 5.5%;
            font-size: 36pt !important;
        }
    }
}

@media (min-width: 2500px){

    .grid-container.gallery{
        grid-template-columns: repeat(3, 25vw);
        gap: 5rem;
    }
}